<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Free movie catalogue for you" />
    <link rel="icon" href="favico.jpeg" />
    <title>Movie Catalogue</title>
  </head>
  <body>
    <!--membuat header-->
    <header class="app-bar">
      <div class="app-bar_menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <div class="app-bar_brand">
        <h1>Movie Catalogue</h1>
      </div>

      <nav id="navigationDrawer" class="app-bar_navigation">
        <ul>
          <li><a href="#/now-playing">Now Playing</a></li>
          <li><a href="#/upcoming">Upcoming</a></li>
        </ul>
      </nav>
    </header>
    <!--Akhir membuat header-->

    <!--membuat main-->
    <main id="mainContent"></main>
    <!--Akhir membuat main-->

    <!--Membuat footer-->
    <footer>
      <p>
        All data obtained from
        <a href="https://themoviedb.org" target="_blank" role="noreferrer"
          >TheMovieDB</a
        >
      </p>
    </footer>
    <!--Akhir membuat footer-->
  </body>
</html>
